body {
	font: 14px/24px 'PT Sans', Arial, Helvetica, sans-serif;
	color: #2c3e50;
	background: #fff;
}

/* Standard Styles Starts */

a { color: #3977b6; }
a:hover,
a:focus {
	color: #000;
}
a:focus { outline: none; }

/* Heading Styles Starts */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', Helvetica, Times New Roman, sans-serif;
}
h1 { font-size: 38px; }
h2 { font-size: 32px; }
h3 { font-size: 26px; }
h4 { font-size: 20px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

/* Form & Buttons Styles Starts */

.btn-main {
	background-color: #d26604;
}
.btn-main,
.btn-main:hover,
.btn-main:focus,
.btn-main:active,
.btn-main.active {
	color: #fff;
}
.btn-main:hover,
.btn-main:focus,
.btn-main:active,
.btn-main.active {
	background-color: #bd5d07;
}

/* Generic Styles Starts */

.parallax {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.text-weight-thin		 	{ font-weight: 100; }
.text-weight-extra-light	{ font-weight: 200; }
.text-weight-light		 	{ font-weight: 300; }
.text-weight-normal 	 	{ font-weight: 400; }
.text-weight-medium 	 	{ font-weight: 500; }
.text-weight-bold		 	{ font-weight: 700; }
.text-weight-ultra-bold 	{ font-weight: 900; }

.img-center {
	margin-left: auto;
	margin-right: auto;
}

.no-boxshadow {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}

.font-awesome {
	font-family: 'FontAwesome';
	src: url('../font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('../font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
}

.animation,
.animation a {
	-webkit-transition: all 0.5s ease 0s;
	   -moz-transition: all 0.5s ease 0s;
		    transition: all 0.5s ease 0s;
}

.animation-1,
.animation-1 a {
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
		    transition: all 1s ease;
}